__pycache__/
*.pyc
data/**
!data/train/
!data/train/images/
!data/train/images/*.tif
!data/train/masks/
!data/train/masks/*.tif
!data/test_2/
!data/test_2/images/
!data/test_2/images/*.tif
pths/
pths_expert/
results/
*.pth
*.tif
*.zip
!data/train/images/*.tif
!data/train/masks/*.tif
!data/test_2/images/*.tif
